@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 105, 236);
}

.container {
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);

  & h1 {
    margin-bottom: 15px;
    text-align: center;
    color: white;

  }
}

.centrales {
  width: 100%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.479);

  & h4 {
    margin-bottom: 10px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & input {
    border-radius: 10px;
    height: 30px;
    text-align: center;
  }

  .enviar {
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(90, 136, 235, 0.151);
      cursor: pointer;
    }
  }

  & button {
    padding: 5px;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

table {
  overflow: scroll;
  border-collapse: collapse;
  width: 80%;
  margin: 20px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}


.no-results {
  display: none;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & p {
    font-size: 2rem;
  }
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-weight: 800;
}

.results_tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}